<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Mis cuentas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-list-header>
      <ion-label>Cuentas:</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let item of cuentas" > {{item.name}} ${{item.balance}} </ion-item>
  </ion-list>

  <p *ngIf="sinCuentas" class="sinCuentas"> *** No tienes cuentas. *** </p>

  <ion-button shape="round" color="primary" expand="block" (click)="addAccount()">(+) Solicitar nueva cuenta</ion-button>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button color="tertiary" (click)="close()" expand="full">Cerrar sesión</ion-button>
  </ion-toolbar>
</ion-footer>